.card {
  position: relative;
  width: 280px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--card);
  transition: all 0.2s ease-in;
}

.card:hover {
  background-color: var(--card-hover);
  transform: scale(1.02);
  -webkit-box-shadow: -1px 4px 16px 15px rgba(34, 60, 80, 0.11);
  -moz-box-shadow: -1px 4px 16px 15px rgba(34, 60, 80, 0.11);
  box-shadow: -1px 4px 16px 15px rgba(34, 60, 80, 0.11);
}


