.header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--bg-light);
}

.title {
  font-size: 24px;
  color: var(--black);
}